.covers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    margin: 1vh;
    padding: 1vh;
    background-color: dimgray;
    /* min-width: 10vw; */
    max-width: 13vw;
    /* min-height: 10vh; */
    max-height: 15%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.imageCover {
    height: fit-content;
}

.title {
    text-align: center;
    font-size: larger;
}

.modal-image {
    max-height: 50vh;
}

.modal-overlay {
    background: #58585815;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    min-width: 80%;
    min-height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    background-color: dimgray;
    padding: 2%;
    border-radius: 5px;
}

.modalTitle {
    font-size: 2rem;
}

hr {
    border-top: 1px solid;
    width: 90%;
}

.imageModal {
    height: 5%;
}

.openModalButton {
    max-width: 15vw;
    /* max-height: 15vh; */
    /* min-height: 10vh; */
    min-width: 10vw;
    font-size: 1.5rem;
}